body {
  margin: 0;
}

.navText {
  color: blue;
}

.imageCell {
  height: 100px;
  width: 100px;
  display: inline;
  margin: 10px;
}

.image {
  cursor: pointer;
}

.single-photo {
  width: 100%;
}
