.button {
  height: 2rem;
  width: 4rem;
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  color: #000000;
  background: rgb(230, 230, 230);
  font-size: 12px;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}

.button:hover {
  border: solid 0.1px rgb(0, 0, 0);
  opacity: 0.8;
}

input {
  position: absolute;
  left: -99999999px;
}

button {
  height: 2rem;
}
