.button {
  height: 2rem;
  width: 4rem;
  text-align: center;

  color: #000000;
  background: rgb(230, 230, 230);
  font-size: 12px;
  font-weight: bold;
}

.button:hover {
  border: solid 0.1px rgb(0, 0, 0);
  opacity: 0.9;
}

.input {
  position: relative;
  cursor: pointer;
  margin: 5px;
  color: white;
  display: inline-block;
}

.submit {
  height: 21px;
  position: relative;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
}

button {
  position: relative;
}
